<article class="post">
  <div class="post-header">
    <div class="user-info">
      <img src="/assets/imgs/gojo-pfp.jpeg" alt="User Avatar" class="avatar" />
      <div class="user-details">
        <span class="username">User Name</span>
        <span class="timestamp">{{ post().createdAt | date : 'medium' }}</span>
      </div>
    </div>
  </div>

  <div class="post-content">
    <p>{{ post().content }}</p>
  </div>

  @if (post().media.length > 0) {
  <div class="post-media">
    @for (file of post().media; track file.name) {
    <div class="media-item">
      @if (file.type.startsWith('image/')) {
      <img [src]="getMediaUrl(file)" [alt]="file.name" />
      } @else {
      <div class="file-preview">
        <span class="file-name">{{ file.name }}</span>
      </div>
      }
    </div>
    }
  </div>
  }
</article>
